[Unit]
Description="fetches configuration data"
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/pi/IoT_1819/src/BBSnap/
ExecStart=/usr/bin/python3 /home/pi/IoT_1819/src/BBSnap/config.py
User=pi

[Install]
WantedBy=multi-user.target
