[Unit]
Description="IR detector for BBS"

[Service]
WorkingDirectory=/home/pi/IoT_1819/src/BBSnap/
ExecStart=/home/pi/IoT_1819/src/BBSnap/IRWatchdog.py
Restart=always
RestartSec=3
User=pi

[Install]
WantedBy=multi-user.target
