[Unit]
Description="IR detector for BBS"

[Service]
WorkingDirectory=/home/pi/
ExecStart=
Restart=always
RestartSec=3
User=pi

[Install]
WanedBy=multi-user.target
